html{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #8b8b8b;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #8b8b8b;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#allPage{
    margin-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 200px;
}

#bodyRightSide {
      /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;
    width: 90%;
    padding-left: 50px;

}


header {
    border: 1px solid red;
    background: #4bb8c3; 
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    position: fixed;
    top:0;
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    border: 1px solid blue;
}

nav ul {
 border: 1px solid red;
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
position: relative;
}

header nav ul li a:hover{
  color: black;
  text-decoration: underline;
}


header.sticky {
    padding: 15px 20px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    transition: height 0.2s ease-in-out;
    color: #4bb8c3;
}
header.sticky nav ul li a {
    color: #4bb8c3;
}

footer{
    background: #005A9C;
    color: white;
    text-align: center;
    padding: 10px;
}


h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#sugeridos{
      /*border: 1px solid red;*/
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    height: 80%;
}


#intereses{
      /*border: 1px solid red;*/
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    text-align: right;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#publicar{
    border: 1px solid rgb(153, 153, 153);
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    text-align: left;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.shareBox{
      /*border: 1px solid red;*/
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#shareText{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    height: 40%;
}

#shareDesc{
    height: 100%;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}
#shareImg{
    text-align: center;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}

#intereses h2, #sugeridos h2, #feed h2, #publicar h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}


.content {
    flex:1;
}
.tags {
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}



.tag, .tagPublicar, .shareButton {
    background: #4bb8c3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.tag:hover, .tagPublicar:hover, .shareButton:hover {
    background: #003F6C;
}


#feed {
      /*border: 1px solid red;*/
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 250px;
    height: 100%;
    max-height: 1200px;
}

.eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.eventosCompartidos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.evento {
      /*border: 1px solid red;*/
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 230px; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.evento:hover {
    transform: scale(1.05);
}

.evento img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .evento {
        width: 100%;
    }
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 190px;
    right: 50px;
    background-color: white;
    height: 300px;
    width: 200px;
    border-radius: 20px;
}

.perfilImg{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}