html{
    background: #8b8b8b;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family:'Courier New', Courier, monospace;
    background:#4bb8c3;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#allPage{
    background:#4bb8c3;
    padding-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 200px;
    padding-bottom: 20px;
    width: 100vw;
}

#bodyRightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;
    width: 90%;
    padding-left: 50px;

}


header {
    background: #4bb8c3; 
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    position: fixed;
    top:0;
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    padding-right:30px;
}

nav ul {
  list-style: none;
  align-items: center;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  position: relative;
}

header nav ul li a:hover{
  color: black;
  text-decoration: underline;
}


header.sticky {
    padding: 15px 20px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.616);
    height: 100px;
    transition: height 0.2s;
    color: #4bb8c3;
    z-index: 1;

}
header.sticky nav ul li a {
    color: #4bb8c3;
}

footer{
    border-top: 1px solid #000000;
    background: #4bb8c3;
    color: white;
    text-align: center;
    padding: 10px;
}


h1 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
    font-family:'Courier New', Courier, monospace
}

#sugeridos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    height: 80%;
    overflow-y: auto;
}


#intereses{
    border-bottom: 1px solid black;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    text-align: right;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#publicar{
    border-bottom: 1px solid black;
    background: rgb(255, 255, 255);
    padding-left:30px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    text-align: left;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.shareBox{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#shareText, #shareLoc{
    border: none;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    height: 60%;
}

#shareDesc{
    border: none;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}
#shareImg{
    text-align: center;
    height: 40%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}


#intereses h2, #sugeridos h2, #feed h2, #publicar h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}


.content {
    flex:1;
}
.tags {
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}



.tag, .tagPublicar, .shareButton {
    border: none;
    background: #ddd;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.tag:hover, .tagPublicar:hover, .shareButton:hover {
    background: #003F6C;
    color: white;
}


#feed {
    text-align:center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 250px;
    height: 100%;
    max-height: 1200px;
}

.eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.eventosCompartidos{
    box-shadow: 2px 1px 2px 2px #858585;
    background: rgb(228, 228, 228);
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    border: 1px solid black;
    border-radius: 20px;
    height:20%;
}

.eventosCompartidos p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.imagenEventoCompartido{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-image: url("../IMG/banner.jpg");
    background-size: cover;
    background-position: center;
}

.perfilEventoCompartido{
    padding: 0;
    height: 30%;
    width: 5%;
    border-radius:50%;
    border: 1px solid black;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.perfilEventoCompartido div{
    height: 100%;
    width: 100%;
    border-radius:50%;
    background-image: url("../IMG/perfilPrueba.jpg");
    background-size: cover;
    background-position: center;
}


.botonesEvento {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 10px;
}

.botonesEvento button {
    border: none;
    background: #ddd;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.botonesEvento button:hover {
    background: #003F6C;
    color: white;
}


.evento {
      /*border: 1px solid red;*/
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 230px; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


.evento img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
}


.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    right: 30px;
    background-color: white;
    height: 300px;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    z-index: 0;
}

.perfilImg{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../IMG/perfilPrueba.jpg");
    background-size: cover;
    background-position: center;
}

.infoEvento{
    height: 90vh;
    width:90vw;
    position: fixed;
    left: 100px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
    border-radius: 20px;
    background-color: #4bb8c3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
}

.infoEvento.open{
    opacity: 1;
    z-index: 1;
}

.innerEvento{
    display: flex;
    flex-direction: column;
    align-content:space-between ;
    margin: 20px;
    padding: 10px;
    gap: 20px;
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

#cerrarInfoEvento{
    align-self: flex-start;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
}

#cerrarInfoEvento:hover{
    background: #ff0000;
    color: white;
}