html, body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #b4b4b4;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    border: 1px solid red;
    background: #4bb8c3; 
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    position: fixed;
    top:0;
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    border: 1px solid blue;
}

nav ul {
 border: 1px solid red;
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
position: relative;
}

header nav ul li a:hover{
  color: black;
  text-decoration: underline;
}



.rightSide h2 {
    font-size: 2.9rem;
    color: #333;
}

#msgText{
    height: 45px;
    width: 90%;
    border-radius: 20px;
}

.amigosImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}
.content {
      /*border: 1px solid red;*/
    background: white;
    margin: 20px auto;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row-reverse;
    align-content:baseline;
    justify-content: space-between;
    margin-top: 200px;
}

.rightSide{
    border: 1px solid red;
    height: 100%;
    width: 30%;
    justify-items: center;
    
}

.msgBox{
      /*border: 1px solid red;*/
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.textMsg{
      /*border: 1px solid red;*/
    height: 90%;
    width: 90%;
    background: #f7f7f7;
    border-radius: 30px;
}

.friendsContainer{
    border: 1px solid red;
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: #f7f7f7;
}
.friend{
border: 1px solid black;
border-radius: 20px;
height: 80px;
width: 90%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

p{
  padding-right: 30px;
}

