html, body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #b4b4b4;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    border: 1px solid red;
    background: #4bb8c3; 
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    position: fixed;
    top:0;
    width: 100%;
    height: 150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    border: 1px solid blue;
}

nav ul {
 border: 1px solid red;
  list-style: none;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
position: relative;
}

header nav ul li a:hover{
  color: black;
  text-decoration: underline;
}


footer{
    background: #005A9C;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}


h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


nav ul li a:hover{
    color: black;
    text-decoration: underline;
}

#userReports ul{
      /*border: 1px solid red;*/
    list-style: none;
    padding: 20px;
}

#userReports ul li{
    display: list-item;
    padding-top: 10px;
    padding-inline: 20px;
    margin: 50px;
    border: 1px solid black;
    border-radius: 15px;
    background-color:#ffffff;
    text-align:left;
    height: 40px;
    font-family:'Courier New', Courier, monospace; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftContainer ul{
      /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#leftContainer ul li{
    display: list-item;
    margin: 10px;
}

.reportButtons{
    background: #005A9C;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}


.reportButtons:hover{
    background: #003F6C;
}


.content {
    margin-top: 250px;
    flex: 1;
    display: flex;
}

.leftNav{
      /*border: 1px solid red;*/
    height: 50%;
    width: 20%;
    padding: 30px;
    align-items: center;
}

.rightContainer{
      /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
}
